* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 32px;
	color: #6d6c6c;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

.main-container {
	display: flex;
	flex-wrap: wrap;
}

.column-right {
	background-color: #fff;
	width: 60%;
	padding: 0 180px 0 30px;
}

.column-left {
	background-color: #f9f7f9;
	width: 40%;
	padding: 0 80px;
}

.header {
	background-color: #dcdfda
}

.nav-list {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.nav-link {
	padding: 0 20px;
	line-height: 70px;
	font-weight: 400;
	font-size: 14px;
	color: #6d6c6c;
	text-transform: uppercase;
	text-decoration: none;
	transition: .3s;
}

.nav-link:hover {
	color: #ffffff
}

.list {
	padding-left: 30px;
}

.list-non-bullet {
	list-style: none;
}

.link {
	color: #518ecf;
	text-decoration: none;
	transition: .3s;
	font-weight: 400;
}

.link:hover {
	text-decoration: underline;
	color: #405c98;
}

.profile-container {
	margin-top: 40px;
}

.profile-title {
	font-weight: 500;
	font-size: 32px;
	line-height: 60px;
	color: #b38889;
	text-transform: uppercase;
}

.profile-subtitle {
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	color: #6d6c6c;
	text-transform: uppercase;
}

.section {
	margin-bottom: 20px;
}

.section-title {
	font-weight: 500;
	font-size: 14px;
	line-height: 40px;
	color: #fff;
	background-color: #a5b5a6;
	text-transform: uppercase;
	letter-spacing: .1rem;
	padding-left: 30px;
	margin-bottom: 20px;
	border-radius: 40px;
}

.section-content {
	padding-left: 30px
}

.sub-section {
	margin-bottom: 20px;
}

.sub-section-title {
	font-weight: 500;
	color: #758f79;
}

.footer {
	background-color: #dcdfda;
}

.footer-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-item {
	display: flex;
}

.footer-link {
	text-decoration: none;
	color: #6d6c6c;
	padding: 0 30px 0 0;
	line-height: 70px;
}

.footer-link:hover {
	color: #518ecf;
	text-decoration: underline;
	transition: .3s;
}

.photo-container {
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.border-photo {
	border-radius: 300px;
	border: 7px solid #758f79;
}

.contact-container {
	display: flex;
	align-items: center;
}

.contact-icon {
	margin-right: 20px;
	width: 25px;
	height: 25px;
}

.text-decorate {
	font-weight: 500;
	color: #b87576;
}

.work-title {
	font-weight: 500;
	background-color: #b38889;
	color: #fff;
	padding-left: 30px;
	border-radius: 40px;
}

html {
	scroll-behavior: smooth;
}